
.cardPadding
{
    /* padding-left: 40px;
    padding-right: 40px; */

  
}


.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 200px;
    background-color: #D9D9D9;
}

.adding
{
    padding: 100%;
}

.bgRed
{
    background-color: darkred;
}

.bgLime
{
    background-color: lightgreen;
}

.bgBlue
{
    background-color: cyan;
}

